<div class="loading-spinner" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<a
  href="https://github.com/namanmehta1208/weather-wise"
  target="_blank"
  class="github-link"
  aria-label="GitHub repository"
>
  <i class="fab fa-github"></i>
</a>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="search-container">
  <div class="input-wrapper">
    <input [formControl]="searchControl" placeholder="Search for a location" />
    <i
      class="fas fa-location-arrow"
      (click)="getCurrentLocationWeather()"
      title="Go to current location"
    ></i>
  </div>
  <div class="suggestions" *ngIf="suggestions.length > 0">
    <div
      *ngFor="let suggestion of suggestions"
      (click)="selectLocation(suggestion)"
    >
      {{ suggestion.display_name }}
    </div>
  </div>
</div>

<app-weather-widget
  *ngIf="widgetData"
  [weatherData]="widgetData"
></app-weather-widget>

<!-- <pre *ngIf="weatherData">{{ weatherData | json }}</pre> -->
